html{
  box-sizing: border-box; /*enables grid */
  font-size:16px;
  font-family: sans-serif;
  color:#fff;
}
/* for grid , forces border-box*/
*,
*::before,
*::after{
  box-sizing: inherit;
}
a,
a:visited{
  text-decoration: none;
  color:#70B9ED;
}

a:hover{
  text-decoration: underline;
  color:#F1C36B;
}

ol,ul{
  margin:0;
  padding:0;
  list-style: none;
}

body{
  margin:0;
  background: #0b0f14 url('../img/mmorpg/bgwrap_eso.jpg') no-repeat;
  /* get around wrap by simple bg positioning */
  background-position: 50% 62px;

}

img{
  border-style: none;
  max-width: 100%;
}

header{
  position: relative;
}

form{
  display: inline-block;
}

.margin-center{
  margin:0 auto;
}

/* page wrap to determine content width */
.wrap{
  width:1000px;
}

.trending{
  background: #263442;
  border-bottom:1px solid #4b4b4b;
  height:25px;
  line-height: 25px;
  font-size: .6875rem; /*14px */
}

.trending a{
  color:#70B9ED;
}

.socialicons{
  float:right;
}

.icon{
  position: relative;
  top:2px;
  margin:0 2px;
}

.networkbar{
  background: #000;
  height:36px;
  line-height: 36px;
  font-size: .75rem;
}
.clear::after{
  content: " ";
  display: table;
  clear: both;
}

.network-login input[type="text"],
.network-login input[type="password"]{
  width:75px;
  background: #000;
  border: 1px solid #4b4b4b;
  margin-right:5px;
}

.network-login a{
  color:#F1C36B;
}
.network-login a:hover{
  color:#70B9ED;
}

.register{
  margin-left:10px;
  display: inline-block;
}

.gamejump{
  float: right;
  position: relative;
}

.gamejump a{
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  height:36px;
  min-width: 31px; /*size of smallest img */
}

.quickgamejump{
  background:transparent url('../img/mmorpg/quickgamejump.gif') no-repeat bottom left;
  width:164px; /* stupid spacing in img, needs to be removed */
}
.quickgamejump:hover{
  background-position: top left;
}

.rndjump{
  background:transparent url('../img/mmorpg/randgamejump.gif') no-repeat bottom left;
}
.rndjump:hover{
  background-position: top left;
}
/*********************************** END networkbar ************************************/
.spacer135{ /*we keep as fallback incase no link */
  height:135px;
  margin-bottom:10px;
}
.spacer135 a{
  display: block;
  height: 135px;
  text-indent: -9999px;
}

.logo,
.spacer728x90{
  vertical-align: top;
}

.site-stats{
  width:240px; /*same as logo width */
  text-align: center;
  color:#628AAF;
  font-size: .75rem;
  margin-bottom: 10px;
}

.site-stats span{
  color:#85ACD0;
  font-weight: bold;
}

.spacer728x90{
  width:728px;
  height:90px;
  background: blue;
  position: absolute;
  top:5px;
  left:250px;
  text-align: center;
  line-height: 90px;
}

.gameon{
  background: #000;
  margin-bottom: 5px;
}

.gameon a{
  display: block;
  height: 40px;
  line-height: 40px;
  text-indent: -9999px; /*change to normal to get back text if non-img ad */
}
/********************* END gameon **********************************************/
nav{
  background: transparent;
}
nav::after{
  content: " ";
  display: table;
  clear: both;
}
nav > ul li{
  float: left;
}

nav > ul li a{
  display: block;
  padding:0 11px 0 5px;
  height:35px;
  line-height: 35px;
  color:#fff !important;
  text-decoration: none;
  background: url('../img/mmorpg/frame_r3_nav_tabs.gif') no-repeat bottom right;
  text-align: center;
  font-weight: bold;
  font-size: .875rem;
  white-space: nowrap;
}

nav > ul li a:hover{
  background-position: top right;
  text-decoration: none;
  color:#fff;
}

nav > ul li:first-child a{
  background: url('../img/mmorpg/frame_r3_nav_tabs_c.gif') no-repeat top right;
  padding-left:12px;
  border-top-left-radius: 10px;
}
nav > ul li:first-child a:hover{
  background: url('../img/mmorpg/frame_r3_nav_tabs.gif') no-repeat top right;
}
nav > ul li:last-child a{
  background: url('../img/mmorpg/frame_r3_nav_tabs_live.gif') no-repeat;
  width:176px;
  border-top-right-radius: 10px;
}
nav > ul li:last-child a:hover{
  background: url('../img/mmorpg/frame_r3_nav_tabs.gif') no-repeat top left;
}

nav .active{
  background: url('../img/mmorpg/frame_r3_nav_tabs_c.gif') no-repeat top right;
}
nav .active:hover{
  background: url('../img/mmorpg/frame_r3_nav_tabs.gif') no-repeat top right;
}

nav .livestream{
  background: url('../img/mmorpg/frame_r3_nav_tabs_live.gif') no-repeat right top;
  padding:0 20px;
}

nav .livestream:hover{
  background: url('../img/mmorpg/frame_r3_nav_tabs.gif') no-repeat top right;
}

/**************************** END nav *******************************************/

.col-80{
  float: left;
  width:800px;
  overflow: hidden;

}
.col-20{
  float: left;
  width:200px;
}
.feature{
  position: relative; /* to allow child positioning */
  width:796px;
  height:356px;
  background: #000;
  border:2px solid #4b4b4b;
  border-radius: 10px;
}

.slider{
  position: relative;
  width:490px;
  height:294px;
  overflow: hidden;
}

.slider a{
  display: block;
  position: absolute;
  width:490px;
  height:294px;
  top:0px;
  background: url('../img/mmorpg/sliderpic1.jpg') no-repeat;
  font-size: .875rem;
  color:#ebebeb;
}

.slider > a:hover{
  color:#70B9ED;
  text-decoration: none;
}

.slider-text{
  position: relative;
  top:224px;
  line-height: 15px;
  padding: 8px 0px 0px 7px;
  overflow: hidden;
  width:473px;
}


.slider-text-title{
  font-weight: bold;
  color:#fff;
}


.slider-nav{
  position: relative;
  width:490px;
  height:58px;
  overflow: hidden;
  padding-left:2px;
}


.column-features{
  position: absolute;
  width:300px;
  padding:0 5px 5px 5px;
  top:0;
  right:0;
  bottom:0;
  overflow: hidden;
}

.feature-title{
  color:#70b9ed;
  font-weight: bold;
  font-size: .9375rem;

}
.column-features ul > li{
  margin-bottom: 5px;
  font-size: .8125rem;
  color:#9a9a9a;
}

.column-features ul > li.lates > a{
  display: block;
  padding-left: 18px;
  color:#f1c36b;
  background:url('../img/mmorpg/item_icon_all.gif') no-repeat left center;
}
.column-features ul > li.interv > a{
  display: block;
  padding-left: 18px;
  color:#f1c36b;
  background:url('../img/mmorpg/item_icon_interview.gif') no-repeat left center;
}

.more-features{
  display: block;
  position: absolute;
  bottom:0;
  right:1px;
  width: 126px;
  height: 16px;
  background: url('../img/mmorpg/item_home_morefeat.gif') no-repeat bottom left;
  text-indent: -9999px;
}

.more-features:hover{
  background-position: top left;
}
